<md-sidenav  class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">Derp Ninja</h1>
	</md-toolbar>
	<md-content class="md-padding" ng-controller="SidebarController as vm">
		<a ui-sref="signup">No account? Sign up here.</a>
		<a ui-sref="login">login</a>
		Number of friends: {{vm.currentFriends.length}}
		<div ng-repeat="friend in vm.currentFriends">
			{{friend.name}}
		</div>
		<div>
			
		</div>
	</md-content>
</md-sidenav>
